# IDE & System Files
.idea/
.vscode/
.DS_Store

# Docker Environments
.env

# WordPress Core (wir wollen nur wp-content versionieren, nicht den Core)
# Da wir aber wp-content via Bind-Mount nutzen, ignorieren wir den Inhalt von uploads,
# behalten aber plugins und themes (wenn ihr eigene entwickelt).
wordpress/wp-content/uploads/*
!wordpress/wp-content/uploads/.gitkeep
